{{!-- Page to edit agent --}}
{{#with (changeset model skipValidate=true) as |changeset|}}
<div class="edit">
  <h2 class="title">{{t (humanize 'Edit agent')}}</h2>

  {{!--
    Actions to save or cancel changes;
    or delete agent.
  --}}
  <div class="actions">
    <button type="button" class="btn save" title="Save new agent" {{action 'save' changeset model}}>Save</button>
    <button type="button" class="btn cancel" title="Cancel" {{action 'cancel' changeset model}}>Cancel</button>
    <button type="button" class="btn delete" title="Delete this item" {{action 'delete' changeset model}}>Delete</button>
  </div>

  {{!-- Table to show details of agent. --}}
  <table>
    <thead>
      <tr>
        <th>Property</th>
        <th>Data</th>
      </tr>
    </thead>
    <tbody>
      {{!-- Creating rows for attributes depending on the type of property --}}

    <tr><td>{{t 'catalog'}}</td><td align='middle'>{{edit-belongs-to relName=changeset.catalog relType="catalog"}}</td></tr>

    </tbody>
  </table>
</div>
{{/with}}
