{{!-- Page to show details of agents --}}
<div class="details">
  <h2 class="title">{{t (humanize 'agent details')}}</h2>

  {{!--
    Actions to go back to the list-view or edit agent
    if it's an editable application.
  --}}
  <div class="actions">
    {{#link-to "agents" class="btn back" title="Return to list" tagName='button'}}Return to the list{{/link-to}}
    {{#link-to "agents.edit" model class="btn edit" title="Edit this item" tagName="button"}}Edit{{/link-to}}
  </div>

  {{!-- Table to show details of agent. --}}
  <table>
    <thead>
      <tr>
        <th>{{t "Attribute"}}</th>
        <th>{{t "Data"}}</th>
      </tr>
    </thead>
    <tbody>
      {{!-- Creating row for id --}}
      <tr>
        <td class="properties__label">{{t "id"}}</td>
        {{handle-attribute model=model attribute='id' tagName='td' classes='properties__data'}}
      </tr>
      {{!-- Creating rows for attributes depending on the type of property --}}
      <tr>
        <td class="properties__label">{{t 'catalog'}}</td>
        {{display-model-belongsto-relationship model=model.catalog itemRoute='catalogs.show' configuredLabel='id' tagName="td" classes="properties__data"}}
      </tr>
      <tr>
        <td class="properties__label">{{t 'graphs'}}</td>
        {{graph-meta graphs=(await (get-graph model)) tagName="td" classes='properties__data'}}
      </tr>
    </tbody>
  </table>
</div>
