{{!-- Page to list datasets --}}
<div class="content">
  <h2 class="title">{{t (humanize 'datasets')}}</h2>
  <div class="actions">{{#link-to "datasets.new" class="btn new" title="Create new item" tagName="button" }}Create{{/link-to}}</div>
  {{#if model}}
    <table>
      <thead>
        <tr>
          <th class="properties__label">id</th>
          {{sortable-table-header attribute="title" currentSort=sort}}
          {{sortable-table-header attribute="description" currentSort=sort}}
          {{sortable-table-header attribute="issued" currentSort=sort}}
          {{sortable-table-header attribute="modified" currentSort=sort}}
          {{sortable-table-header attribute="identifier" currentSort=sort}}
          {{sortable-table-header attribute="keyword" currentSort=sort}}
          {{sortable-table-header attribute="theme" currentSort=sort}}
          {{sortable-table-header attribute="landingPage" currentSort=sort}}
          {{sortable-table-header attribute="catalog" currentSort=sort}}
          {{sortable-table-header attribute="distributions" currentSort=sort}}
          {{sortable-table-header attribute="graphs" currentSort=sort}}          
        </tr>
      </thead>
      <tbody>
        {{#each model as |item|}}
          {{#link-to "datasets.show" item tagName='tr' }}
            <td>{{handle-attribute model=item attribute='id' classes='properties__data'}}</td>
            {{handle-attribute model=item attribute='title' tagName='td' classes='properties__data'}}
            {{handle-attribute model=item attribute='description' tagName='td' classes='properties__data'}}
            {{handle-attribute model=item attribute='issued' tagName='td' classes='properties__data'}}
            {{handle-attribute model=item attribute='modified' tagName='td' classes='properties__data'}}
            {{handle-attribute model=item attribute='identifier' tagName='td' classes='properties__data'}}
            <td>{{display-attribute-string-set model=item attribute='keyword' tagName='ul' innerTagName='li' classes='string-set'}}</td>
            {{handle-attribute model=item attribute='theme' tagName='td' classes='properties__data'}}
            {{display-model-belongsto-relationship model=item.landingPage tagName='td' itemRoute='datasets.show' configuredLabel='stringRep'}}
            {{display-model-belongsto-relationship model=item.catalog tagName='td' itemRoute='catalogs.show' configuredLabel='stringRep'}}
            {{display-model-hasmany-relationship   model=item.distributions tagName='td' itemRoute='distributions.show' configuredLabel='stringRep'}}
            {{graph-meta graphs=(await (get-graph item)) tagName="td" classes='properties__data'}}
          {{/link-to}}
        {{/each}}
      </tbody>
    </table>

    {{#if model.meta.pagination}}
      {{pagination-component page=page numberOfItems=model.length total=model.meta.count links=model.meta.pagination}}
    {{/if}}
  {{else}}
    <div class="empty">
      No {{t (humanize 'datasets')}} in the database.
      Click on the <i class="fa fa-plus" aria-hidden="true"></i> button to create a new {{t (humanize "dataset")}}.
    </div>
  {{/if}}
</div>
