{{!-- Page to create a new dataset --}}
<div class="new">
  <h2 class="title">{{t (humanize 'New dataset')}}</h2>

  {{!--
    Actions to save new dataset
    or delete new dataset.
  --}}
  <div class="actions">
    <button type="button" class="btn save" title="Save new dataset" {{action 'save' model}}>Save</button>
    <button type="button" class="btn cancel" title="Cancel" {{action 'cancel' model}}>Cancel</button>
  </div>

  {{!-- Table to show details of dataset. --}}
  <table>
    <thead>
      <tr>
        <th>Attribute</th>
        <th>Data</th>
      </tr>
    </thead>
    <tbody>
      {{!-- Creating rows for attributes depending on the type of property --}}
      <tr>
        <td>{{t 'title'}}</td>
        <td align='middle'>{{handle-attribute model=model attribute='title' editable=true}}</td>
      </tr>
      <tr>
        <td>{{t 'description'}}</td>
        <td align='middle'>{{handle-attribute model=model attribute='description' editable=true}}</td>
      </tr>
      <tr>
        <td>{{t 'issued'}}</td>
        <td align='middle'>{{handle-attribute model=model attribute='issued' editable=true}}</td>
      </tr>
      <tr>
        <td>{{t 'modified'}}</td>
        <td align='middle'>{{handle-attribute model=model attribute='modified' editable=true}}</td>
      </tr>
      <tr>
        <td>{{t 'identifier'}}</td>
        <td align='middle'>{{handle-attribute model=model attribute='identifier' editable=true}}</td>
      </tr>
      <tr>
        <td>{{t 'keyword'}}</td>
        <td align='middle'>{{edit-string-set data=model.keyword tagName='ul' classes='string-set'}}</td>
      </tr>
      <tr>
        <td>{{t 'theme'}}</td>
        <td align='middle'>{{handle-attribute model=model attribute='theme' editable=true}}</td>
      </tr>

      <tr><td>{{t 'landingPage'}}</td><td align='middle'>{{edit-belongs-to relName=model.landingPage relType="dataset"}}</td></tr>
      <tr><td>{{t 'catalogs'}}</td><td align='middle'>{{edit-belongs-to relName=model.catalog relType="catalog"}}</td></tr>
      <tr><td>{{t 'distributions'}}</td><td align='middle'>{{edit-has-many relName=model.distributions relType="distribution"}}</td></tr>
    </tbody>
  </table>
</div>
