{{!-- Page to create a new catalog --}}
<div class="new">
  <h2 class="title">{{t (humanize 'New catalog')}}</h2>

  {{!--
    Actions to save new catalog
    or delete new catalog.
  --}}
  <div class="actions">
    <button type="button" class="btn save" title="Save new catalog" {{action 'save' model}}>Save</button>
    <button type="button" class="btn cancel" title="Cancel" {{action 'cancel' model}}>Cancel</button>
  </div>

  {{!-- Table to show details of catalog. --}}
  <table>
    <thead>
      <tr>
        <th>Attribute</th>
        <th>Data</th>
      </tr>
    </thead>
    <tbody>
      {{!-- Creating rows for attributes depending on the type of property --}}
      <tr>
        <td>{{t 'title'}}</td>
        <td align='middle'>{{handle-attribute model=model attribute='title' editable=true}}</td>
      </tr>
      <tr>
        <td>{{t 'description'}}</td>
        <td align='middle'>{{handle-attribute model=model attribute='description' editable=true}}</td>
      </tr>
      <tr>
        <td>{{t 'issued'}}</td>
        <td align='middle'>{{handle-attribute model=model attribute='issued' editable=true}}</td>
      </tr>
      <tr>
        <td>{{t 'modified'}}</td>
        <td align='middle'>{{handle-attribute model=model attribute='modified' editable=true}}</td>
      </tr>
      <tr>
        <td>{{t 'language'}}</td>
        <td align='middle'>{{handle-attribute model=model attribute='language' editable=true}}</td>
      </tr>
      <tr>
        <td>{{t 'license'}}</td>
        <td align='middle'>{{handle-attribute model=model attribute='license' editable=true}}</td>
      </tr>
      <tr><td>{{t 'publisher'}}</td><td align='middle'>{{edit-belongs-to relName=model.publisher relType="agent"}}</td></tr>
      <tr><td>{{t 'datasets'}}</td><td align='middle'>{{edit-has-many relName=model.datasets relType="dataset"}}</td></tr>
    </tbody>
  </table>
</div>
